@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --clr-primary-red: hsl(0, 100%, 74%);
  --clr-primary-green: hsl(154, 59%, 51%);
  --clr-accent-blue: hsl(248, 32%, 49%);
  --clr-neutral-dark-blue: hsl(249, 10%, 26%);
  --clr-neutral-gray-blue: hsl(246, 25%, 77%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-image: url(../bg-intro-mobile.png);
  background-color: var(--clr-primary-red);
}

main,
section {
  min-height: 100vh;
  min-width: 100vw;
}

footer {
  padding-top: 1.5rem;
}

/* utilities */
.box-shadow {
  -webkit-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
}


.text-red {
  color: var(--clr-primary-red);
  font-weight: 600;
  text-decoration: none;
}

.font-500 {
  font-weight: 700;
}

.form {
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
}

/* components */
.container {
  padding-top: 9rem;
  margin-inline: auto;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-info {
  display: flex;
  flex-direction: column;
}

.container-info h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  max-width: 32rem;
}

.container-info>p {
  color: #fff;
  text-align: center;
  max-width: 32rem;
  font-weight: 500;
  opacity: 0.9;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0rem 1rem;
  max-width: 36rem;
}

.box-info {
  padding: 2rem;
  background-color: var(--clr-accent-blue);
  text-align: center;
  color: #fff;
  border-radius: 1rem;
  letter-spacing: 0.7px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 3rem;
}

.form-inpt {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-neutral-gray-blue);
  font-weight: 600;
  transition: all .3s ease;
  width: 100%;
}

.form-btn {
  cursor: pointer;
  width: 100%;
  padding: 1.8rem;
  border-radius: 0.5rem;
  background-color: var(--clr-primary-green);
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  border-bottom: 4px solid rgb(49, 176, 121);
  transition: all .3s ease;
}

.form-btn:hover {
  transform: translateY(1rem);
  color: var(--clr-accent-blue);
  letter-spacing: 0.8px;
}

.form-span {
  text-align: center;
  color: var(--clr-neutral-gray-blue);
  font-weight: 500;
  font-size: 1.2rem;
  max-width: 28rem;
}

.error-element {
  color: var(--clr-primary-red);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 50em) {
  body {
    background-image: url(../bg-intro-desktop.png);
  }

  .container {
    flex-direction: row;
    max-width: 100rem;
    padding-top: 4rem;
    justify-content: space-around;
  }

  .container-info {
    gap: 20px;
  }

  .box {
    min-width: 50rem;
  }

  .box-info {
    max-width: 100%;
  }

  .container-info h1 {
    font-size: 4rem;
    text-align: left;
    max-width: 45rem;
    line-height: 4rem;
  }

  .container-info>p {
    font-size: 1.5rem;
    text-align: left;
    max-width: 55rem;

  }
}